## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [52]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd
# 2003 to 2017
df_wastestats = pd.read_csv('datasets/wastestats.csv')
df_wastestats.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [53]:
df_wastestats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   waste_type                   225 non-null    object
 1   waste_disposed_of_tonne      225 non-null    int64
 2   total_waste_recycled_tonne   225 non-null    float64
 3   total_waste_generated_tonne  225 non-null    int64
 4   recycling_rate               225 non-null    float64
 5   year                         225 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.7+ KB

In [54]:
df_wastestats.waste_type.value_counts()

Total                                      15
Textile/Leather                            15
Paper/Cardboard                            15
Glass                                      15
Plastics                                   14
Others (stones, ceramics & rubber etc)     12
Sludge                                     11
Construction Debris                        11
Wood/Timber                                11
Non-ferrous Metals                         11
Horticultural Waste                        11
Scrap Tyres                                11
Used Slag                                  11
Food waste                                 11
Ferrous Metal                               7
Wood                                        4
Food                                        4
Used slag                                   4
Ferrous Metals                              4
Ferrous metal                               4
Horticultural waste                         4
Scrap tyres                                 4
C&D                                         3
Ash & Sludge                                3
Non-ferrous metal                           3
Others                                      1
Others (stones, ceramic, rubber, etc.)      1
Ash and sludge                              1
Plastic                                     1
Construction debris                         1
Others (stones, ceramics & rubber etc.)     1
Non-ferrous metals                          1
Name: waste_type, dtype: int64

In [55]:
#Renaming rows to match the text 
df_wastestats.loc[df_wastestats['waste_type'] == 'Plastics','waste_type'] = 'Plastic'
df_wastestats.loc[(df_wastestats['waste_type'] == 'Non-ferrous metal' ) | (df_wastestats['waste_type'] == 'Non-ferrous metals') | (df_wastestats['waste_type'] == 'Non-ferrous Metals'),'waste_type' ] = 'Non-Ferrous Metal'
df_wastestats.loc[(df_wastestats['waste_type'] == 'Ferrous metal' ) | (df_wastestats['waste_type'] == 'Ferrous Metals') | (df_wastestats['waste_type'] == 'Ferrous Metal'),'waste_type' ] = 'Ferrous Metal'

In [56]:
df_wastestats.waste_type.value_counts()

Plastic                                    15
Ferrous Metal                              15
Paper/Cardboard                            15
Non-Ferrous Metal                          15
Glass                                      15
Textile/Leather                            15
Total                                      15
Others (stones, ceramics & rubber etc)     12
Construction Debris                        11
Wood/Timber                                11
Horticultural Waste                        11
Scrap Tyres                                11
Used Slag                                  11
Food waste                                 11
Sludge                                     11
Food                                        4
Wood                                        4
Scrap tyres                                 4
Horticultural waste                         4
Used slag                                   4
Ash & Sludge                                3
C&D                                         3
Construction debris                         1
Ash and sludge                              1
Others (stones, ceramic, rubber, etc.)      1
Others (stones, ceramics & rubber etc.)     1
Others                                      1
Name: waste_type, dtype: int64

In [57]:
#2018 and 2019
df_waste = pd.read_csv('datasets/2018_2019_waste.csv')
df_waste.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [58]:
df_waste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Waste Type                     30 non-null     object
 1   Total Generated ('000 tonnes)  30 non-null     int64
 2   Total Recycled ('000 tonnes)   30 non-null     int64
 3   Year                           30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [59]:
df_waste['Waste Type'].value_counts()

Construction& Demolition                 2
Food                                     2
Overall                                  2
Glass                                    2
Used Slag                                2
Ferrous Metal                            2
Scrap Tyres                              2
Non-Ferrous Metal                        2
Plastics                                 2
Ash & Sludge                             2
Paper/Cardboard                          2
Wood                                     2
Others (stones, ceramic, rubber, ect)    2
Horticultural                            2
Textile/Leather                          2
Name: Waste Type, dtype: int64

In [60]:
#Renaming rows to match the text 
df_waste.loc[df_waste['Waste Type'] == 'Plastics','Waste Type'] = 'Plastic'
df_waste.loc[(df_waste['Waste Type'] == 'Non-ferrous metal' ) | (df_waste['Waste Type'] == 'Non-ferrous metals') | (df_waste['Waste Type'] == 'Non-ferrous Metals'),'Waste Type' ] = 'Non-Ferrous Metal'
df_waste.loc[(df_waste['Waste Type'] == 'Ferrous metal' ) | (df_waste['Waste Type'] == 'Ferrous Metals') | (df_waste['Waste Type'] == 'Ferrous Metal'),'Waste Type' ] = 'Ferrous Metal'

In [61]:
df_waste['Waste Type'].value_counts()

Horticultural                            2
Food                                     2
Overall                                  2
Glass                                    2
Used Slag                                2
Ferrous Metal                            2
Scrap Tyres                              2
Non-Ferrous Metal                        2
Plastic                                  2
Ash & Sludge                             2
Paper/Cardboard                          2
Wood                                     2
Construction& Demolition                 2
Others (stones, ceramic, rubber, ect)    2
Textile/Leather                          2
Name: Waste Type, dtype: int64

In [62]:
df_energy_saved = pd.read_csv('datasets/energy_saved.csv')
df_energy_saved.info()
df_energy_saved.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                               --------------  -----
 0   The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type  4 non-null      object
 1   Unnamed: 1                                                                                                                                                           3 non-null      object
 2   Unnamed: 2                                                                                                                                                           2 non-null      object
 3   Unnamed: 3                                                                                                                                                           3 non-null      object
 4   Unnamed: 4                                                                                                                                                           3 non-null      object
 5   Unnamed: 5                                                                                                                                                           3 non-null      object
dtypes: object(6)
memory usage: 368.0+ bytes

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
count,4,3,2,3,3,3
unique,4,3,2,3,3,3
top,1 barrel oil is approximately 159 litres of oil,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,Paper
freq,1,1,1,1,1,1

In [63]:
df_energy_saved.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [64]:
df_energy_saved = df_energy_saved.dropna(axis=0)
df_energy_saved.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh

In [65]:
df_waste.head()
df_waste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Waste Type                     30 non-null     object
 1   Total Generated ('000 tonnes)  30 non-null     int64
 2   Total Recycled ('000 tonnes)   30 non-null     int64
 3   Year                           30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

In [66]:
df_waste['total_recycled_tonne'] = df_waste['Total Recycled (\'000 tonnes)']*1000
df_waste = df_waste.rename(columns={'total_recycled_tonne':'total_waste_recycled_tonne','Waste Type':'waste_type','Year':'year'})
df_waste.head()

,waste_type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),year,total_waste_recycled_tonne
0,Construction& Demolition,1440,1434,2019,1434000
1,Ferrous Metal,1278,1270,2019,1270000
2,Paper/Cardboard,1011,449,2019,449000
3,Plastic,930,37,2019,37000
4,Food,7440,136,2019,136000

In [67]:
df_wastestats_new = df_wastestats[['year','waste_type','total_waste_recycled_tonne']]
df_wastestats_new.head()

   year           waste_type  total_waste_recycled_tonne
0  2016                 Food                    111100.0
1  2016      Paper/Cardboard                    607100.0
2  2016              Plastic                     59500.0
3  2016                  C&D                   1585700.0
4  2016  Horticultural waste                    209000.0

In [68]:
df_waste_new = df_waste[['year','waste_type','total_waste_recycled_tonne']]
df_waste_new.head()

   year                waste_type  total_waste_recycled_tonne
0  2019  Construction& Demolition                     1434000
1  2019             Ferrous Metal                     1270000
2  2019           Paper/Cardboard                      449000
3  2019                   Plastic                       37000
4  2019                      Food                      136000

In [69]:
df_merged = pd.concat([df_wastestats_new,df_waste_new])
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 29
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        255 non-null    int64
 1   waste_type                  255 non-null    object
 2   total_waste_recycled_tonne  255 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.0+ KB

In [70]:
df_energy_saved.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh

In [71]:
df_energy_saved.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 2 to 3
Data columns (total 6 columns):
 #   Column                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                               --------------  -----
 0   The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type  2 non-null      object
 1   Unnamed: 1                                                                                                                                                           2 non-null      object
 2   Unnamed: 2                                                                                                                                                           2 non-null      object
 3   Unnamed: 3                                                                                                                                                           2 non-null      object
 4   Unnamed: 4                                                                                                                                                           2 non-null      object
 5   Unnamed: 5                                                                                                                                                           2 non-null      object
dtypes: object(6)
memory usage: 112.0+ bytes

In [72]:
df_energy_saved = df_energy_saved.rename(columns={'Unnamed: 1':'Plastic','Unnamed: 2':'Glass','Unnamed: 3':'Ferrous Metal','Unnamed: 4':'Non-Ferrous Metal','Unnamed: 5':'Paper'})
df_energy_saved.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh

In [73]:
df_energy_saved.drop(df_energy_saved.index[[0]])

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh

In [74]:
df_merged.head()

   year           waste_type  total_waste_recycled_tonne
0  2016                 Food                    111100.0
1  2016      Paper/Cardboard                    607100.0
2  2016              Plastic                     59500.0
3  2016                  C&D                   1585700.0
4  2016  Horticultural waste                    209000.0

In [75]:
subset_df_merged = df_merged[df_merged['waste_type'].isin(['Plastic','Plastics','Glass','Ferrous Metal','Non-Ferrous Metal']) & (df_merged['year'] > 2014)]
subset_df_merged.head(50)

     year         waste_type  total_waste_recycled_tonne
2    2016            Plastic                     59500.0
6    2016      Ferrous Metal                   1351500.0
7    2016  Non-Ferrous Metal                     95900.0
10   2016              Glass                     14700.0
17   2015            Plastic                     57800.0
21   2015      Ferrous Metal                   1333300.0
22   2015  Non-Ferrous Metal                    160400.0
25   2015              Glass                     14600.0
211  2017      Ferrous Metal                   1371000.0
213  2017  Non-Ferrous Metal                     92200.0
218  2017              Glass                     12400.0
221  2017            Plastic                     51800.0
1    2019      Ferrous Metal                   1270000.0
3    2019            Plastic                     37000.0
10   2019  Non-Ferrous Metal                    124000.0
11   2019              Glass                     11000.0
16   2018      Ferrous Metal                    126000.0
18   2018            Plastic                     41000.0
25   2018  Non-Ferrous Metal                    170000.0
26   2018              Glass                     12000.0

In [76]:
subset_df_merged = subset_df_merged.reset_index()

In [81]:
for index,row in subset_df_merged.iterrows():
    if (subset_df_merged.loc[index,'waste_type'] == 'Plastic'):
        subset_df_merged.loc[index,'total_energy_saved'] = subset_df_merged.loc[index,'total_waste_recycled_tonne'] * 5774
    elif subset_df_merged.loc[index,'waste_type'] == 'Glass':
        subset_df_merged.loc[index,'total_energy_saved'] = subset_df_merged.loc[index,'total_waste_recycled_tonne'] * 42 
    elif subset_df_merged.loc[index,'waste_type'] == 'Ferrous Metal':
        subset_df_merged.loc[index,'total_energy_saved'] = subset_df_merged.loc[index,'total_waste_recycled_tonne'] * 642
    elif subset_df_merged.loc[index,'waste_type'] =='Non-Ferrous Metal':
        subset_df_merged.loc[index,'total_energy_saved'] = subset_df_merged.loc[index,'total_waste_recycled_tonne'] * 14000

In [82]:
subset_df_merged.head(100)

,index,year,waste_type,total_waste_recycled_tonne,total_energy_saved
0,2,2016,Plastic,59500.0,3.435530e+08
1,6,2016,Ferrous Metal,1351500.0,8.676630e+08
2,7,2016,Non-Ferrous Metal,95900.0,1.342600e+09
3,10,2016,Glass,14700.0,6.174000e+05
4,17,2015,Plastic,57800.0,3.337372e+08
5,21,2015,Ferrous Metal,1333300.0,8.559786e+08
6,22,2015,Non-Ferrous Metal,160400.0,2.245600e+09
7,25,2015,Glass,14600.0,6.132000e+05
8,211,2017,Ferrous Metal,1371000.0,8.801820e+08
9,213,2017,Non-Ferrous Metal,92200.0,1.290800e+09
10,218,2017,Glass,12400.0,5.208000e+05
11,221,2017,Plastic,51800.0,2.990932e+08
12,1,2019,Ferrous Metal,1270000.0,8.153400e+08
13,3,2019,Plastic,37000.0,2.136380e+08
14,10,2019,Non-Ferrous Metal,124000.0,1.736000e+09
15,11,2019,Glass,11000.0,4.620000e+05
16,16,2018,Ferrous Metal,126000.0,8.089200e+07
17,18,2018,Plastic,41000.0,2.367340e+08
18,25,2018,Non-Ferrous Metal,170000.0,2.380000e+09
19,26,2018,Glass,12000.0,5.040000e+05

In [83]:
annual_energy_savings = subset_df_merged.groupby('year',as_index=False)['total_energy_saved'].sum()
annual_energy_savings = annual_energy_savings.set_index('year')
print(annual_energy_savings)

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09